:root{

    --primaryBackgroundColor: white; /*standard background body*/

    --primaryTextColor: black; /*standard text color */

    --themeColor1: linear-gradient(45deg, rgb(251, 63, 63) 0%, rgb(140, 70, 252) 100%); /*background color style*/

    --themeColor2: linear-gradient(90deg, rgb(251, 63, 63) 0%, rgb(188, 252, 70) 100%); /*2nd background style*/

    --ChapterFont1: montserrat, sans-serif; /*font for h1's*/

    --storyFont2: Papyrus, fantasy; /* font for boxes with text

    /*darktheme colors*/

    --primaryDarkBackgroundColor: rgb(0, 0, 0); /* dark theme background*/

    --secondaryDarkTextColor: white; /*darktheme text color*/

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primaryBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: var(--primaryTextColor);
    font-family: var(--ChapterFont1);
    text-transform: uppercase;
}

h2, p{
    color: var(--primaryTextColor);
    font-family: var(--storyFont2);
}


.info{
    width: 30%;
    height: fit-content;
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
}

.galaxy{
    background-image: var(--themeColor1);
}

.inferno{
    background-image: var(--themeColor2);
}

.darkmode {
    background-color: var(--primaryDarkBackgroundColor);
  
}
/* darkmode */
.darkmode h1{
    color: var(--secondaryDarkTextColor);   
}

.darkmode h2{
    color: var(--secondaryDarkTextColor);   
}

.darkmode p{
    color: var(--secondaryDarkTextColor);  
}

/* color swap depends on window size */
@media (max-width: 1500px) {
    .inferno{
        background-image: var(--themeColor1);
    }
    .galaxy{
        background-image: var(--themeColor2);
    }
}